.foreigns .translation {
  display: none;
}

.foreigns .to-translate {
    border-bottom: 2px solid rgba(0, 255, 0, 0.8);
}

.foreigns .to-translate:hover {
  cursor: pointer;
  background: rgba(255, 255, 0, 0.2);
}

.translation.active {
  cursor: pointer;
  position: absolute;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.5rem;
  background: white;
  display: inline-block;
}
